Play.Catalog.Service/bin/Debug/net8.0/Play.Catalog.Service.dll
Play.Catalog.Service/bin/Debug/net8.0/Play.Catalog.Service.exe
Play.Catalog.Service/bin/Debug/net8.0/Play.Catalog.Service.pdb
Play.Catalog.Service/obj/Debug/net8.0/apphost.exe
Play.Catalog.Service/obj/Debug/net8.0/Play.Catalog.Service.AssemblyInfo.cs
Play.Catalog.Service/obj/Debug/net8.0/Play.Catalog.Service.AssemblyInfoInputs.cache
Play.Catalog.Service/obj/Debug/net8.0/Play.Catalog.Service.dll
Play.Catalog.Service/obj/Debug/net8.0/Play.Catalog.Service.pdb
Play.Catalog.Service/obj/Debug/net8.0/Play.Catalog.Service.sourcelink.json
Play.Catalog.Service/obj/Debug/net8.0/ref/Play.Catalog.Service.dll
Play.Catalog.Service/obj/Debug/net8.0/refint/Play.Catalog.Service.dll
